@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  scroll-behavior: smooth;
}

:root {
  font-size: 16px; 
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}

$primary-colour: #d0dbdb;
$secondary-colour: #ffffff;
$tertiary-colour: #ffffff;
$primary-text-colour: #000000;
$secondary-text-colour: #000000;

body { 
  background-color: #d0dbdb;
  margin: 0; 
  padding: 0; 
  overflow-x: hidden;
  max-width: 100%;
}

body::-webkit-scrollbar { 
  width: 0.25rem;
}

body::-webkit-scrollbar-track { 
  background: var(--quaternary-colour);
}

body::-webkit-scrollbar-thumb { 
  background: var(--primary-colour);
}

h1 {
  font-size: 2.5rem;
  color: $primary-text-colour;
  font-weight: 300;
}

h2 {
  font-size: 2rem;
  color: $primary-text-colour;
  font-weight: 300;
}

h3 {
  font-size: 1.75rem;
  color: $primary-text-colour;
  font-weight: 300;
}

h4 {
  font-size: 1.5rem;
  color: $primary-text-colour;
  font-weight: 300;
}

h5 {
  font-size: 1.25rem;
  color: $primary-text-colour;
  font-weight: 300;
}

h6 {
  font-size: 1rem;
  color: $primary-text-colour;
  font-weight: 300;
}

p {
  font-size: 1rem;
  color: $primary-text-colour;
  font-weight: 300;
}

a {
  font-size: 1rem;
  color: $primary-text-colour;
  font-weight: 300;
  text-decoration: none;
  cursor: pointer;
}

li, ul {
  list-style: none;
  font-size: 1rem;
  color: $primary-text-colour;
  font-weight: 300;
}

ul {
  padding: 0;
  margin: 0;
}

button {
  font-size: 1rem;
  color: $primary-text-colour;
  font-weight: 300;
}

button:focus {
  outline: none;
}

img {
  height: auto;
  max-width: 100%;
}

input, textarea {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: $primary-text-colour;
}

input::placeholder, textarea::placeholder {
  color: $primary-text-colour;
}

// Header
.nav-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: $primary-colour;
  padding: 0.5rem 0.3rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

  .nav-content {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .nav-logo-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 1.5rem;
  
      img {
        width: 50px;
        height: auto;
      }
  
      span {
        font-size: 1.5rem;
        margin-left: 0.25rem;
        font-weight: 600;
        white-space: nowrap;
      }
    }

    .nav-links-container {
      display: flex;
      flex-direction: row;  
      align-items: center;

      ul {
        display: inline-flex;
  
        li {
          margin-right: 1rem;
          font-size: 1.25rem;
          
          a {
            font-weight: 500;
          }
        }
      }
    }

    .search-bar-container {
      display: flex;
      flex-direction: row;
      align-items: center;

      button {
        background: #ffffff;
        z-index: 10;
        border: none;
        margin-left: -1.7rem;
        margin-top: 0.1rem;

        svg {
          width: 0.85rem;
          height: auto;
        }
      }


    }
  }
}

//Media queries
@media screen and (max-width: 640px) {
  .nav-container {
    padding: 0.8rem 0.3rem;
    .nav-content {
      flex-direction: column;
    }

    .nav-links-container {
      margin-top: 0.5rem;
    }
  }
}

@media screen and (max-width: 1024px) {
  .nav-container {
    .nav-content {
      width: 90%;
    }
  }
}